<?php 
return array(
    'db' => array(
        'database'  => 'url_note',
        'hostname'  => '',
        'port'      => '',
        'charset'   => 'UTF8',
        'username'  => '',
        'password'  => '',
    ),
    // SmxGoogleAuth/config/auth.php
    'auth' => array(
        'session'     => array(),
        'google_auth' => array(
            // your google apps domain
            'domain'              => '',
            // https://console.developers.google.com/project
            'clientId'            => '',
            // https://console.developers.google.com/project
            'clientSecret'        => '',
        )
    )
);